/.gradle/
/.idea/
# ignore everything in the `build` folder

/build/*
!/build/distributions
/build/distributions/*
!/build/distributions/FacerPlugin-1.0-SNAPSHOT.zip
!/build/distributions/FacerPlugin-1.0-SNAPSHOT-DB-CONFIGURED.zip